:root {
   --page-title-display: block;
   --color-primary: #3252df;
   --color-secondary: #54595f;
   --color-dark: #1a1c20;
}
body {
   font-family: "Poppins", sans-serif;
   overflow: hidden;
}

main {
   height: 100vh;
   width: 100vw;
   overflow-y: scroll;
   scroll-behavior: smooth;
}

/* Navbar */
.navbar-brand {
   font-size: x-large;
   font-family: "Viga", sans-serif;
   color: var(--color-secondary) !important;
}

/* Jumbotron */
.jumbotron {
   position: relative;
   padding: 0;
   background-image: url(./assets/img/banner2.png);
   background-size: cover;
   height: 540px;
}
.overlay {
   position: absoulte;
   height: 100%;
   width: 100%;
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* background: rgba(0, 0, 0, 0.6); */
   background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4)
   );
}
.jumbotron .display-4 {
   text-align: center;
   margin-top: 50px;
   padding: 0 1rem;
   font-weight: 700;
   font-size: 2rem;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron p {
   text-align: center;
   margin-top: 20px;
   padding: 0 1rem;
   font-weight: 300;
   font-size: 1.25rem;
   max-width: 500px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron p span {
   font-weight: 700;
}
.jumbotron a {
   margin-top: 30px;
   padding: 0.75rem 1.5rem;
   text-transform: initial;
}

/* logo */
.logo {
   color: var(--color-secondary);
   margin-bottom: 50px;
}

/* Feature */
#feature {
   padding: 0 20px 40px 20px;
}
#feature .container {
   padding: 40px 10px 30px 10px;
   background-color: var(--color-dark);
   border-radius: 10px;
   align-items: center;
   align-content: center;
   text-align: center;
   color: white;
}
#feature .img-container {
   padding: 0 20px 0 20px;
   margin-bottom: 30px;
}
#feature img {
   display: inline-block;
   border-radius: 10px;
   box-sizing: border-box;
}
#feature .lead {
   font-size: 1rem;
   margin: auto;
   margin-top: 20px;
}
#feature .lead span {
   text-transform: uppercase;
   font-weight: bold;
}
#feature .card {
   color: #686868;
   border-radius: 10px;
   margin-bottom: 40px;
}
#feature .card img {
   margin-top: 20px;
   max-height: 120px;
}
#feature .card-title {
   color: var(--color-secondary);
   font-weight: bold;
}
#feature .card-text {
   text-align: justify;
}
#feature .card-text span {
   font-weight: bold;
}
#feature .container .tombol {
   margin: 30px 0;
   font-weight: bold;
   padding: 0.75rem 1.5rem;
}

/* Facility */
#facility {
   padding: 30px 20px 70px 20px;
}
#facility .item {
   margin-top: 50px;
}
#facility img {
   border-radius: 10px;
}
#facility p {
   margin: auto;
}

/* tipe unit */
#type {
   padding: 50px 20px 70px 20px;
   background-color: var(--color-dark);
   color: white;
}
#type h2,
#type h5 {
   text-align: center;
   font-weight: bold;
}
#type h5 {
   font-size: 1.75rem;
}
#type .container p {
   margin-top: 20px;
   text-align: center;
}
#type .container span {
   font-weight: bold;
   text-transform: uppercase;
}
#type .toggle-wrapper {
   display: flex;
   margin-top: 50px;
   flex-direction: column;
   align-items: center;
}
.toggle-wrapper .toggle-button {
   display: flex;
   width: 80px;
   height: 40px;
   background-color: gray;
   border-radius: 30px;
   margin: 20px 0 20px 0;
   align-items: center;
   padding: 5px;
   cursor: pointer;
   transition: all 300ms ease-in-out;
}
.toggle-wrapper .toggle-button.active {
   background-color: var(--color-primary);
}
.toggle-wrapper .toggle-button > .inner-circle {
   width: 30px;
   height: 30px;
   background-color: white;
   border-radius: 50%;
   transition: all 300ms ease-in-out;
}
.toggle-wrapper .toggle-button.active > .inner-circle {
   margin-left: 40px;
}
.toggle-item {
   margin-top: 50px;
   border-radius: 10px;
   background-color: white;
   color: var(--color-secondary);
   padding: 20px;
   margin-bottom: 70px;
}
.toggle-item nav a {
   color: #152c5b !important;
   text-shadow: none;
}
.toggle-item .nav-pills .nav-link.active {
   color: #fff !important;
   background-color: var(--color-primary) !important;
}
.toggle-item #tipe-unit-1 #nav-tabContent {
   padding: 20px 0;
}

#type .container .tombol {
   margin-top: 30px;
   font-weight: bold;
   padding: 0.75rem 1.5rem;
}

/* Penawaran */
#penawaran {
   padding: 50px 20px 70px 20px;
}
#penawaran h2 {
   color: #e40017;
   margin-bottom: 20px;
}
#penawaran ul li {
   border: none;
}
#penawaran ul li i img {
   max-width: 35px;
}
#penawaran ul li span {
   font-size: 1.25rem;
   padding-left: 10px;
   color: var(--color-secondary);
}

/* Contact */
#contact form {
   margin-top: 30px;
   margin-bottom: 40px;
   width: 100%;
}
#contact form label {
   font-size: 18px;
}
#contact form label span {
   color: red;
}
#contact form input {
   height: 50px;
   margin: 10px 0 20px 0;
}

/* Copyright */
#footer {
   border-top: 1px solid rgba(0, 0, 0, 0.3);
}
#footer .copyright {
   padding: 20px 10px;
   text-align: center;
}

/* Utility */
.tombol {
   text-transform: uppercase;
   background-color: var(--color-primary);
   box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
   border-radius: 8px;
   text-align: center;
   padding: 0.375rem 1rem;
}
.tombol:hover {
   background-color: #152c5b;
}

/* Desktop Version */
@media (min-width: 992px) {
   .navbar {
      z-index: 3;
   }
   .navbar-brand {
      font-size: xx-large;
      font-weight: bold;
   }
   .navbar-brand,
   .nav-link {
      color: white !important;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
   }
   .nav-link {
      text-transform: uppercase;
      margin-right: 1.875rem;
      font-size: 1.125rem;
   }
   .nav-link:hover::after {
      content: "";
      display: block;
      border-bottom: 3px solid #0b63dc;
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
   }
   .navbar-nav .tombol {
      align-self: center;
   }
   .jumbotron {
      margin-top: -75px;
      height: 700px;
   }
   .jumbotron .display-4 {
      font-size: 3.5rem;
   }
   .jumbotron p {
      font-size: 2rem;
      max-width: 800px;
   }
   #feature {
      padding-bottom: 70px;
   }
   #feature .container {
      padding-top: 70px;
   }
   #feature img {
      max-width: 900px;
   }
   #feature .title {
      margin-top: 30px;
      font-size: 3rem;
      font-weight: bold;
   }
   #feature .lead {
      font-size: 1.25rem;
      max-width: 1000px;
   }
   #feature .card img {
      max-height: 150px;
   }
   #feature .card-text {
      margin-top: 20px;
   }
   #facility h2 {
      margin-bottom: 50px;
      font-size: 3.5rem;
   }
   #facility .item {
      margin-top: 0;
      padding: 0 30px 0 30px;
   }
   #type .toggle-wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }
   #type .toggle-wrapper h4,
   #type .toggle-wrapper .toggle-button {
      margin: 0;
   }
   #type .toggle-wrapper .toggle-button {
      margin: 0 30px 0 30px;
   }
   .toggle-item {
      margin-bottom: 120px;
   }
   .toggle-item #tipe-unit-1 #nav-tabContent {
      padding: 20px 30px;
   }
   #type h2 {
      font-size: 3.5rem;
   }
   #type h5 {
      font-size: 2.5rem;
   }
   #type .container p {
      max-width: 900px;
      margin: auto;
      margin-top: 30px;
      font-size: 20px;
   }
   #type .container .tombol {
      margin-top: 40px;
   }
   #penawaran h2 {
      font-size: 3.5rem;
   }
   #penawaran ul li {
      padding-left: 150px;
   }
   #penawaran ul li i img {
      max-width: 45px;
   }
   #penawaran ul li span {
      font-size: 1.75rem;
      padding-left: 20px;
   }
   #contact {
      padding: 50px 0;
   }
   #contact form {
      margin-top: 40px;
      width: 50%;
   }
   #contact form .tombol {
      padding: 0.75rem 1.75rem;
   }
   #footer .copyright {
      padding: 30px 10px;
      font-size: 18px;
   }
}
